@media screen and (min-width:768px) {
    .container{
        max-width: 768px;
    }

     /* ====HEADER=== */
    .mobile-menu-open{
        display: none;
    }

    .nav-logo{
        display: flex;
        align-items: center;
        margin-right: 118px; 
    }

    .site-nav{
        display: flex;
        margin-left: 121px;
        gap:40px;
    }

    .site-nav .link{
        display:block;
        position: relative; 
        color: var(--title-text-color);
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        text-decoration: none;
        transition: color 250ms var(--timer-fuction);
    }

    .item.current > .link{
        color:var(--accent-color);
    }

    .link.current::after {
        content: '' ;
        display:block;
        position: absolute;
        left: 0;
        bottom: -30px; 
        width: 100%;
        height: 4px;
        background-color: #404BB8;
        border-radius: 2px;
        opacity: 1;
        transform: color 250ms var(--timer-fuction); 
    } 
    
    .site-nav .link:hover,
    .site-nav .link:focus{
        color:var(--primary-text-color); 
    }
    
    .site-nav .link:active{
       color: var(--accent-color);
    }
    
      /*===AUT-NAV===*/
    
    .aut-nav{
        display: flex;
        flex-wrap: wrap;
        gap:4px; 
    }
    
    .aut-nav .link{
        display: flex;
        color:var(--primary-text-color);
        font-size: 12px;
        line-height: 1.3;
        text-decoration: none;
        transition: color 250ms var(--timer-fuction);   
    }

    .aut-nav .link:hover,
    .aut-nav .link:focus{
        color:var(--title-text-color); 
    }
    
    .aut-nav .link:active{
        color: var(--accent-color);
    }

     /* ====HERO=== */
    .overlay-hero {
       background-image: linear-gradient(
     rgba(46, 47, 66, 0.7),
     rgba(46, 47, 66, 0.7)),
     url('../images/Dark-tab-bg.jpg');
    }

    @media (min-device-pixel-ratio: 2),
     (-webkit-min-device-pixel-ratio: 2),
     (min-resolution: 192dpi),
     (min-resolution: 2dppx) {
       .overlay-hero {
         background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
     rgba(46, 47, 66, 0.7)),
     url('../images/Dark-tab-bg@2x.jpg');
    }
    } 

    .hero-title{
        margin-bottom: 40px;
        font-size: 56px;
        line-height: 1.07;
    }

    .button-portfolio{
        padding: 8px 16px;
    }

     /* ====FUETURE=== */
    .fueture-list{
        display: flex;
        flex-wrap: wrap;
        row-gap:72px ;
        margin: 0; 
    }

    .fueture-list .item{
        width:calc((100% - 24px) / 2); 
    }
    
    .fueture-list .title {
       text-align: start;
        margin: 0 0 8px 0;
    }

     .fueture-list .text{
        max-width: 356px; 
    } 

     /* ====TEAM=== */
    .team-list{
     column-gap: 24px;
     row-gap: 56px; 
    }

     /* ====CUSTOMER=== */
    .customers-link{
     column-gap: 24px;
    } 

    .client{
     width: calc((100% - 90px) / 3);
    }

     /* ===FOOTER=== */
    .footer-logo{
     justify-content: start;
    }

    .footer-text{
     width: 264px;
    }

    .footer-page{
     width: 50%;
     max-width: 264px;
     margin: 0 24px 72px 0;
     padding: 0;
    }

    .footer-title{
     text-align: start;
    }

    .link-media{
     justify-content: flex-start;
    }
   
    .cocial{
     margin-bottom: 0;
    }

    .subscribe.footer-info{
     width: 100%;
     max-width: 496px;
    }

    .footer-form{
     display: flex;
     justify-content: flex-start;
     width: 456px;
     margin-right: auto; 
    } 
     
    .footer-form-input{
     width: 264px;
     margin-right: 24px;
     margin-bottom: 0;
    }
    
     /*===MODAL===  */
    .modal{
        width: 100%;
        max-width: 408px;
        padding: 24px;
    }
    
    /*===PORTFOLIO===  */
    .portfolio-card{
        padding-top: 64px;
        padding-bottom: 96px;
    }

    .button-container{
        column-gap: 24px;
        margin-bottom: 64px;
        justify-content: center; 
    }

    .project-card{
     column-gap: 24px; 
     row-gap: 72px;
    }

    .card-info{
        max-width: 356px;
    }
}
